<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>따듯한 화분</title>
    <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=0"/>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">

    <meta property="og:type" content="website">
    <meta property="og:title" content="따듯한 화분">
    <meta property="og:description" content="원예치료를 통한 우울증 치료 솔루션. 따뜻한 화분입니다">
    <meta property="og:image" content="/img/preview.png">

    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet/less" href="/css/ward.less">
    <link rel="stylesheet/less" href="/css/bottom-bar.less">
    <link rel="stylesheet/less" href="/css/viewpager.less">
    <link rel="stylesheet/less" href="/css/toast.less">
    <link rel="stylesheet" href="/css/animate.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.js" type="text/javascript"></script>

</head>
<body>

    <div class="viewpager-ward" id="view-pager">
        <div class="view">
            <div class="main-view">
                <div class="header">
                    <h4>나의 친구</h4>
                </div>
                <div class="user-flower-img-box">
                    <img src="/img/dummy.png" style="width:100%; height: auto">
                </div>

                <div class="user-flower-data-box">
                    <div id="humidity">
                        <div>
                            <div class="text-box">
                                <img src="/img/waterdrop.svg" style="width: 30px; height: 30px;">
                                <h4>습도</h4>
                            </div>

                            <p id="humidity-data">낮음</p>
                        </div>
                    </div>

                    <div id="temperature">
                        <div>
                            <div class="text-box">
                                <img src="/img/thermometer.svg" style="width: 30px; height: 30px;">
                                <h4>온도</h4>
                            </div>

                            <p id="temperature-data">낮음</p>
                        </div>
                    </div>

                    <div id="status">
                        <div>
                            <div class="text-box">
                                <img src="/img/waterdrop.svg" style="width: 30px; height: 30px;">
                                <h4>상태</h4>
                            </div>

                            <p id="status-data">낮음</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="view">
            <div class="flower-talk">
                <div class="header">
                    <h4>화분과의 대화</h4>
                    <p>화분과의 대화는 기기를 통해 가능합니다</p>
                </div>

                <div class="talk-data-box">
                    <div class="full-size-box">
                        <div class="header">“오늘 날씨는 어때?”</div>
                        <div class="content">오늘 날씨를 물어보세요.<br>따분이 날씨와 그에 맞는 행동을<br>추천해줄거에요.</div>
                    </div>
                    <div class="small-size-box">
                        <div class="small-size-content">
                            <div class="header">“오늘 날씨는 어때?”</div>
                            <div class="content">오늘 날씨를 물어보세요.<br>따분이 날씨와 그에 맞는 행동을<br>추천해줄거에요.</div>
                        </div>

                        <div class="small-size-content">
                            <div class="header">“오늘 날씨는 어때?”</div>
                            <div class="content">오늘 날씨를 물어보세요.<br>따분이 날씨와 그에 맞는 행동을<br>추천해줄거에요.</div>
                        </div>
                    </div>

                    <div class="full-size-box">
                        <div class="header">“오늘 날씨는 어때?”</div>
                        <div class="content">오늘 날씨를 물어보세요.<br>따분이 날씨와 그에 맞는 행동을<br>추천해줄거에요.</div>
                    </div>
                    <div class="small-size-box">
                        <div class="small-size-content">
                            <div class="header">“오늘 날씨는 어때?”</div>
                            <div class="content">오늘 날씨를 물어보세요.<br>따분이 날씨와 그에 맞는 행동을<br>추천해줄거에요.</div>
                        </div>

                        <div class="small-size-content">
                            <div class="header">“오늘 날씨는 어때?”</div>
                            <div class="content">오늘 날씨를 물어보세요.<br>따분이 날씨와 그에 맞는 행동을<br>추천해줄거에요.</div>
                        </div>
                    </div>

                    <div class="null"> </div>
                </div>
            </div>
        </div>

        <div class="view">
            <div class="time-line" id="time-line">
                <div class="header">
                    <h4>우울증 추천 도서 , 운동</h4>
                </div>
                <!--<div class="book">-->
                    <!--<div class="book-data">-->
                        <!--<div class="title">-->
                            <!--<h4>나미야 잡화점의 기적</h4>-->
                            <!--<p>히가시노 게이고</p>-->

                            <!--<div class="star-box">-->
                                <!--<img src="/img/star.svg" style="width: 20px; height: 20px;">-->
                                <!--<img src="/img/star.svg" style="width: 20px; height: 20px;">-->
                                <!--<img src="/img/star.svg" style="width: 20px; height: 20px;">-->
                                <!--<img src="/img/star.svg" style="width: 20px; height: 20px;">-->
                                <!--<img src="/img/star.svg" style="width: 20px; height: 20px;">-->
                            <!--</div>-->
                            <!--<p class="star-user">72,512명이 좋아합니다.</p>-->
                        <!--</div>-->
                        <!--<div class="img">-->
                            <!--<img src="/img/dummy_book.png">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="book-description">-->
                        <!--<h4>책소개</h4>-->
                        <!--<div>-->
                            <!--일본의 소설가 히가시노 게이고의 신작이다.-->
                            <!--2012년 일본 중앙공론문예상 수상작으로,-->
                            <!--작가가 그동안 추구해온 인간 내면에 잠재한-->
                            <!--선의에 대한 믿음이 작품 전반에 녹아 있다.-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="health">-->
                    <!--<div class="img-box">-->
                        <!--<img src="/img/dummy_health.png">-->
                    <!--</div>-->
                    <!--<div class="health-data">-->
                        <!--<h4>팔 벌려 푸시업</h4>-->
                        <!--<p>국립운동센터</p>-->

                        <!--<div class="star-box">-->
                            <!--<img src="/img/star.svg" style="width: 20px; height: 20px;">-->
                            <!--<img src="/img/star.svg" style="width: 20px; height: 20px;">-->
                            <!--<img src="/img/star.svg" style="width: 20px; height: 20px;">-->
                            <!--<img src="/img/star.svg" style="width: 20px; height: 20px;">-->
                            <!--<img src="/img/star.svg" style="width: 20px; height: 20px;">-->
                        <!--</div>-->
                        <!--<p class="star-user">72,512명이 좋아합니다.</p>-->
                    <!--</div>-->
                    <!--<div class="health-description">-->
                        <!--<h4>운동소개</h4>-->
                        <!--<div>-->
                            <!--동작 : 양손을 어깨넓이보다 조금 넓게 벌리고-->
                            <!--운동한다.-->
                            <!--효과 : 가슴근육을 중점적으로, 어깨 / 삼두근육을-->
                            <!--부가적으로 발달시켜준다.-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="null"></div>-->
            </div>
        </div>

        <div class="view">
            <div class="setting">
                <div class="header">
                    <h4>설정</h4>
                </div>
                <div class="setting-content">

                    <div id="logout" onclick="logout()">
                        <div class="text-box">
                            <h4>로그아웃</h4>
                            <p>Warmplant님 환영합니다.</p>
                        </div>

                        <div class="logo-box">
                            <img src="/img/user.svg">
                        </div>
                    </div>

                    <div id="my-flower" onclick="location.href = '/show/flower'">
                        <div class="logo-box">
                            <img src="/img/flower_pic.svg">
                        </div>

                        <div class="text-box">
                            <h4>내 식물 기르기</h4>
                            <p>식물에 대한 정보를 제공합니다.</p>
                        </div>
                    </div>

                    <div id="guardian-data" onclick="get_guardian()">
                        <div class="text-box">
                            <h4>보호자 정보</h4>
                            <p>보호자의 정보를 제공합니다.</p>
                        </div>

                        <div class="logo-box">
                            <img src="/img/family.svg">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="bottom-bar">
        <div class="item-box" id="flower">
            <div>
                <img src="/img/flower_pic.svg">
                <p style="color:#2ee992;">화분</p>
            </div>
        </div>

        <div class="item-box" id="mic">
            <div>
                <img src="/img/mic.svg">
                <p>대화</p>
            </div>
        </div>

        <div class="item-box" id="book">
            <div>
                <img src="/img/book.svg">
                <p>독서와운동</p>
            </div>
        </div>

        <div class="item-box" id="setting">
            <div>
                <img src="/img/settings.svg">
                <p>설정</p>
            </div>
        </div>
    </div>
    <div class="toast" id="toast-box">
        <div class="message" id="toast">
        </div>
    </div>

    <script src="/js/toast.js"></script>
    <script src="/js/viewpager.js"> </script>
    <script src="/js/ward_data.js"></script>
</body>
</html>