<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>따듯한 화분</title>
    <!--<meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=0"/>-->

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet/less" href="/css/ward.less">
    <link rel="stylesheet/less" href="/css/bottom-bar.less">
    <link rel="stylesheet/less" href="/css/viewpager.less">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.js" type="text/javascript"></script>

</head>
<body>

    <div class="viewpager" id="view-pager">
        <div class="view">
            <h1 id="check">1</h1>
        </div>

        <div class="view">
            <h1>2</h1>
        </div>

        <div class="view">
            <h1>3</h1>
        </div>

        <div class="view">
            <h1>4</h1>
        </div>
    </div>

    <div class="bottom-bar">
        <div class="item-box" id="flower">
            <div>
                <img src="/img/flower_pic.svg">
                <p style="color:#2ee992;">화분</p>
            </div>
        </div>

        <div class="item-box" id="mic">
            <div>
                <img src="/img/mic.svg">
                <p>대화</p>
            </div>
        </div>

        <div class="item-box" id="book">
            <div>
                <img src="/img/book.svg">
                <p>독서와운동</p>
            </div>
        </div>

        <div class="item-box" id="setting">
            <div>
                <img src="/img/settings.svg">
                <p>설정</p>
            </div>
        </div>
    </div>

    <script src="/js/bottom-bar.js"></script>
    <script src="/js/viewpager.js"> </script>
</body>
</html>