@import "flex.less";

.main-view{
  width:100%;
  height:100%;

  & > .header{
    width:calc(~"100% - 30px");
    height:100px;

    padding-left:30px;

    .flex-align-center;

    background-color: #2eec7e;

    & > h4{
      color:#fff;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight:800;
      font-size:30px;
    }
  }

  & > .user-flower-data-box{
    width:100%;
    height:auto;

    background-color: #fff;

    & > #humidity{
      background-color:#7877ff;
      margin-bottom:10px;
      margin-top:-20px;
    }

    & > #temperature{
      background-color: #ff7777;
    }

    & > #status{
      background-color: #2eec7e;
      margin-top:10px;
    }

    & > div{
      width:90%;
      height:70px;
      margin:auto;

      border-radius:10px;

      box-shadow: 1px 1px 1px 1px #999;

      & > div{
        width:90%;
        height:100%;

        margin:auto;
        .flex-align-between;

        & > div{
          .flex-align-around;

          & > h4{
            margin-left:15px;
            color:#fff;
            font-size:24px;
            font-weight:700;
            font-family: 'Noto Sans KR', sans-serif;
          }
        }

        & > p{
          font-family: 'Noto Sans KR', sans-serif;
          font-weight:200;
          font-size:24px;
          color:#fff;
        }
      }
    }
  }
}

.flower-talk{
  width:100%;
  height:100%;


  background-image: linear-gradient(#2eec7e,#30ecb1);

  & > .header{
    width:calc(~"100% - 20px");
    height:110px;

    padding-left:20px;
    padding-top:30px;

    & > h4{
      font-weight:800;
      font-family: 'Noto Sans KR', sans-serif;
      font-size:30px;
      color:#fff;
      line-height: 60px;
    }

    & > p{
      font-weight: 100;
      font-family:'Noto Sans KR',sans-serif;
      font-size:18px;
      color:#fff;
      line-height:30px;
    }
  }

  & > .talk-data-box{
    width:100%;
    height:calc(~"100% - 140px");
    padding-top:20px;
    overflow-y: auto;

    & > .full-size-box{
      width:90%;
      height:180px;

      padding-top: 10px;
      padding-bottom: 10px;

      margin:auto;
      margin-bottom:20px;

      background-color: #fff;
      border-radius: 10px;
      box-shadow: 1px 1px 1px 1px #999;

      & > .header{
        width:100%;
        height:40%;

        .flex-center;

        font-size:24px;
        font-weight:600;
        font-family: 'Noto Sans KR', sans-serif;
        color:#00ea65;
      }

      & > .content{
        width:100%;
        height:60%;

        .flex-center;

        font-size:14px;
        font-weight:200;
        font-family: 'Noto Sans KR', sans-serif;
        color:#434343;
        line-height: 25px;
        text-align: center;
      }
    }

    & > .small-size-box{
      width:90%;
      height:200px;

      margin:auto;
      margin-bottom:20px;

      .flex-align-between;

      & > .small-size-content{
        width:48%;
        height:100%;

        padding-top:10px;
        padding-bottom:10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 1px 1px #999;

        & > .header{
          width:100%;
          height:30%;

          .flex-center;

          font-size:14px;
          font-weight:600;
          font-family: 'Noto Sans KR', sans-serif;
          color:#00ea65;
        }

        & > .content{
          width:100%;
          height:70%;

          .flex-center;

          font-size:10px;
          font-weight:200;
          font-family: 'Noto Sans KR', sans-serif;
          color:#434343;
          line-height: 25px;
          text-align: center;
        }
      }
    }

    & > .null{
      width:100%;
      height:50px;
    }
  }
}

.time-line{
  width:100%;
  height:100%;

  overflow-y: auto;

  background-color: #f4f4f4;

  & > .header{
    width:calc(~"100% - 20px");
    height:100px;
    padding-left:20px;

    .flex-align-center;

    & > h4{
      color:#2eec80;
      font-size:24px;
      font-weight:800;
      font-family: 'Noto Sans KR', sans-serif;
    }
  }

  & > .book{
    width:90%;
    height:300px;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #999;

    margin:auto;

    & > .book-data{
      width:100%;
      height:50%;

      .flex;

      & > .title{
        width:calc(~"60% - 20px");
        height:calc(~"100% - 20px");
        padding-left:20px;
        padding-top: 20px;

        & > h4{
          font-size:16px;
          font-weight:800;
          font-family: 'Noto Sans KR', sans-serif;
          color:#666666;
          line-height: 30px;
        }

        & > p{
          font-size:14px;
          font-weight: 300;
          font-family: 'Noto Sans KR', sans-serif;
          color:#a4a4a4;
        }
      }
    }
  }
}

